[Unit]
Description=viod - SR-IOV Virtual Function Manager
DefaultDependencies=no
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=simple
ExecStart=/usr/local/bin/viod
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
User=root

[Install]
WantedBy=sysinit.target
